@import "src/theme/theme-variables";

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.brand {
  color: mat-color($app-primary, "default-contrast");
  text-decoration: none;
  padding-right: 1rem;
}

.menu-button {
  margin-right: 1rem;
}

.logo-image {
  vertical-align: middle;
  width: 30px;
  margin-right: 8px;
  overflow: hidden;
  margin-top: -6px;
  color: red;
  font-weight: bold;
  stroke-width: 2;
}

.logo-image .st0 {
  fill: none;
  stroke: #ffffff;
  stroke-width: 25 !important;
  stroke-miterlimit: 10;
}
.logo-image .st1 {
  fill: none;
  stroke: #ffffff;
  stroke-width: 20 !important;
  stroke-miterlimit: 10;
}
