@import "src/theme/theme-variables";

// .container {
//   text-align: center;
//   // padding: 1em;
// }

// .logo {
//   width: 150px;
//   margin: 0 auto;
// }

// q {
//   font-style: italic;
//   quotes: "« " " »";
// }

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  height: 100%;
  width: 100%;
  grid-template-areas:
    "actions dataset dataset dataset dataset dataset dataset"
    "actions dataset dataset dataset dataset dataset dataset"
    "actions dataset dataset dataset dataset dataset dataset"
    "actions dataset dataset dataset dataset dataset dataset"
    "actions sugestions sugestions sugestions sugestions sugestions sugestions"
    "actions sugestions sugestions sugestions sugestions sugestions sugestions";
}
.actions {
  grid-area: actions;
  background-color: white;
}
.action-list mat-list-item:hover {
  cursor: pointer;
  background-color: #cacaca;
  user-select: none;
}

.sugestions {
  grid-area: sugestions;
  //background-color: lightyellow;
  border-left: 1px lightgray solid;
}
.dataset {
  grid-area: dataset;
}

.sugestions-actions > * {
  margin-right: 16px;
}

// mat tabs
.ag-theme-alpine .ag-column-selected {
  background-color: rgba(33, 150, 243, 0.3);
  background-color: var(--ag-selected-row-background-color, rgba(33, 150, 243, 0.3));
}

.info mat-list-item {
  margin-left: 8px !important;
}

