<div class="paginator">
  <div class="paginator-controller">
    <span class="paginator-counter"
      ><b>{{ firstRow }}</b> a <b>{{ lastRow }}</b> de <b>{{ totalPages || 'indefinido' }}</b
      >&nbsp;&nbsp;&nbsp;</span
    >
    <button class="paginator-button" [disabled]="page === 1" (click)="first()"><<</button>
    <button class="paginator-button" (click)="previous()" [disabled]="page === 1"><</button>
    <span class="paginator-counter"
      >página <b>{{ page }}</b> de <b>{{ totalPages || 'indefinido' }}</b></span
    >
    <button class="paginator-button" (click)="next()">></button>
    <button class="paginator-button" [disabled]="totalPages === undefined" (click)="last()">>></button>
  </div>
</div>
