.container {
  display: block;
  height: 100%;
  overflow: scroll;
  padding: 0;
  margin: 0;
}

.ex-table {
  display: table;
  border: 1px solid #f0f0f0;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.ex-table thead tr th {
  position: sticky;
  top: 0;
  z-index: 100;
  border: 1px solid #f0f0f0;
  height: 40px;
  background: #f0f0f0;
}
.ex-table th .header-menu-button {
  float: right;
  border: none;
  outline: none;
}
.ex-table th .header-name {
  width: 12%;
  height: 12%;
  padding: 12px;
}
.ex-table td {
  border: 1px solid #d0d0d0;
  border-left: none;
  border-right: none;
  height: 40px;
}
.ex-table td input {
  height: 100%;
  width: 200px;
  margin: 0;
  padding: 0;
  border: none;
}

.ex-table td input:focus {
  outline-style: solid;
  outline-color: #2196f3;
}

// cell dynamic styles
.ex-cell-default:hover {
  cursor: cell;
}

.ex-cell-edit {
  outline: none;
}

.ex-cell-edit:hover {
  cursor: text;
}

// icon
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
