<div class="container">
  <div class="wrapper">
    <table class="ex-table" cellpadding="4">
      <thead>
        <tr>
          <th *ngFor="let header of headers; let i = index">
            <button class="header-button">{{ header.name }}</button>
            <button (click)="onMenuButtonClick()" class="header-menu-button"><i class="arrow down"></i></button>
            <div class="dropdown">
              <div [style.display]="menu ? 'block' : 'none'" id="myDropdown" class="dropdown-content">
                <a href="#home">Home</a>
                <a href="#about">About</a>
                <a href="#contact">Contact</a>
              </div>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of rows; let i = index">
          <td *ngFor="let item of row | keyvalue; let i = index">
            <input
              #input
              [ngClass]="[cellStyle]"
              [readonly]="cellStyle == 'ex-cell-default'"
              (dblclick)="onCellDoubleClick(); input.select()"
              (blur)="onCellBlur()"
              type="text"
              value="{{ row[headers[i].field] }}"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
