// https://stackoverflow.com/a/14834307
.wrapper {
  display: flex;
  flex-direction: column;
  background: white;
  height: 100%;
  overflow: hidden;
}

.wrapper .container {
  overflow-x: scroll;
  scroll-snap-type: mandatory;
}

.wrapper .container .container-dock {
  width: 0;
}

.ex-table {
  border-collapse: separate;
  border-spacing: 0;
  border: none;
}

.ex-table thead tr th {
  height: 40px;
  position: sticky;
  top: 0;
  background: #f0f0f0;
  border-bottom: 1px solid #aaa;
}

.ex-table th .header-button {
  border: none;
  outline: none;
}
.ex-table th .header-menu-button {
  position: relative;
  float: right;
}

.ex-table td {
  height: 40px;
  border-bottom: 1px solid #d0d0d0;
}

.ex-table td input {
  width: 200px;
  margin: 0;
  padding: 8px;
  background-color: transparent;
  border: none;
  outline: none;
}

.ex-table td input:focus {
  outline-style: solid;
  outline-color: #2196f3;
}

// cell dynamic styles
.ex-table tr:focus-within {
  background: rgba(33, 150, 243, 0.3);
}
.ex-cell-default:hover {
  cursor: cell;
}

.ex-cell-edit:focus {
  background: white !important;
}
.ex-cell-edit:hover {
  cursor: text;
}

.paginator {
  height: 72px;
  width: 100%;
  border: 1px solid #888;
  background: #f0f0f0;
  border-bottom: 1px solid #aaa;
}
