<div class="container">
  <table class="ex-table">
    <thead>
      <tr>
        <th *ngFor="let header of headers; let i = index">
          {{ header.name }}
          <button class="header-menu-button"><i class="arrow down"></i></button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of rows; let i = index">
        <td *ngFor="let item of row | keyvalue; let i = index">
          <input
            [ngClass]="[cellStyle]"
            [readonly]="cellStyle == 'ex-cell-default'"
            (dblclick)="onCellDoubleClick()"
            (blur)="onCellBlur()"
            type="text"
            value="{{ row[headers[i].field] }}"
          />
        </td>
      </tr>
    </tbody>
  </table>
</div>
