@import "src/theme/theme-variables";

.wordWrap {
  word-wrap: break-word; /* IE 5.5-7 */
  white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
  white-space: pre-wrap; /* current browsers */
  margin-bottom: 16px;
}
